
<ul class="breadcrumb">
    {% if forumID %}
        <li>
            <a href="/">Forums</a> {% if forumID %}<span class="divider">/</span>{% endif %}
        </li>
    {% else %}
        <li class="active">Forums</li>
    {% endif %}
    
    {% if forumID %}
        <li>
            <a href="/f/{{ forumID }}">{{ forumTitle|e }}</a> {% if threadID %}<span class="divider">/</span>{% endif %}
        </li>
    {% endif %}
    
    {% if threadTitle %}
        <li class="active">{{ threadTitle|e }}</li>
    {% endif %}
</ul>
