{% include 'Header.twig' %}

{% if signedIn and canAddForums %}
    <a href="/f/new"
       class="btn">New Forum</a>
{% endif %}

<table class="table table-striped table-bordered table-condensed" style="margin-top: 1em;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Threads</th>
        </tr>
    </thead>
    <tbody>
        {% for f in forums %}
            <tr>
                <td><a href="/f/{{ f.id }}">{{ f.title }}</a></td>
                <td>{{ f.threadCount }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'Footer.twig' %}